<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Vocabulary</title>
    {% include "meta-data.html" %}
</head>

<body>
   
    {% include 'navigation.html' %}
    <br><br><br><br><br>
    <h1 class="text-center font-weight-bold">WHAT DO YOU WANT TO LEARN ?</h1><br>
    <div class="container mr-4">
        <!-- row1 -->
        <div class="row">
            <div class="col-6">
                <div class="card" style="width: 33rem;">
                    <div class="w3-display-container">
                        <a href="{{ url_for('vegetablesAndFruits') }}">
                            <img src="../static/images/vegetables.jpg" class="card-img-top w3-hover-opacity "
                                height="300px">
                        </a>
                        <div class="w3-display-middle w3-display-hover">
                            <a href="{{ url_for('vegetablesAndFruits') }}">
                                <button class="w3-button w3-black"><i class="fab fa-leanpub"></i> Learn </button>
                            </a>
                        </div>
                    </div>
                    <div class="justify-content-center">
                        <h5 class="card-title text-center w3-hover-text-blue font-weight-bold">Vegetables and Fruits
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card" style="width: 33rem;">
                    <div class="w3-display-container">
                        <a href="{{ url_for('animals') }}">
                            <img src="../static/images/animals.jpg" class="card-img-top w3-hover-opacity"
                                height="300px">
                        </a>
                        <div class="w3-display-middle w3-display-hover">
                            <a href="{{ url_for('animals') }}">
                                <button class="w3-button w3-black"><i class="fab fa-leanpub"></i> Learn </button>
                            </a>
                        </div>
                    </div>
                    <div class="justify-content-center">
                        <h5 class="card-title text-center w3-hover-text-blue font-weight-bold">Animals</h5>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- row2 -->
        <div class="row">
            <div class="col-6">
                <div class="card" style="width: 33rem;">
                    <div class="w3-display-container">
                        <a href="{{url_for('food')}}">
                            <img src="../static/images/food.webp" class="card-img-top w3-hover-opacity " height="300px">
                        </a>
                        <div class="w3-display-middle w3-display-hover">
                            <a href="{{url_for('food')}}">
                                <button class="w3-button w3-black"><i class="fab fa-leanpub"></i> Learn </button>
                            </a>
                        </div>
                    </div>
                    <div class="justify-content-center">
                        <h5 class="card-title text-center w3-hover-text-blue font-weight-bold">Food</h5>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card" style="width: 33rem;">
                    <div class="w3-display-container">
                        <a href="{{url_for('actions')}}">
                            <img src="../static/images/action.png" class="card-img-top w3-hover-opacity" height="300px">
                        </a>
                        <div class="w3-display-middle w3-display-hover">
                            <a href="{{url_for('actions')}}">
                                <button class="w3-button w3-black"><i class="fab fa-leanpub"></i> Learn </button>
                            </a>
                        </div>
                    </div>
                    <div class="justify-content-center">
                        <h5 class="card-title text-center w3-hover-text-blue font-weight-bold">Actions</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% include 'homepage/footer.html' %}
</body>

</html>