<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% include "meta-data.html" %}

</head>

<body class="w3-sand" >
    <div class="container" style="margin-left: 150px;margin-top: 120px;">
        <div class="row">
            <div class="col-3">
                <a href="{{ url_for('index') }}"><img src="../static/images/arrowback.svg" height="50px" width="50%"></a>
            </div>
            <div class="col-md-4 col-md-offset-4">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-warning">
                    {{ messages[0] }}
                </div>
                {% endif %}
                {% endwith %}
              
                <form method=POST action="{{ url_for('login') }}" class="w3-container w3-card-4">
                    <h2 class="text-center font-weight-bold">Log In</h2>
                    <div class="form-group mb_2">
                        <label for="exampleInputEmail1" class="font-weight-bold text-dark">Username</label>
                        <input type="text" class="form-control" name="username" placeholder="Username" required>
                    </div>
                    <div class="form-group mb_2">
                        <label for="exampleInputPassword1" class="font-weight-bold text-dark">Password</label>
                        <input type="password" class="form-control" name="pass" placeholder="Password" required>
                    </div><br>
                    <button type="submit" class="btn btn-primary btn-block">Log In</button><br>
                </form>
                <br>
                <div>
                    Don't have an account? <a href="{{url_for('register')}}"
                        class="font-weight-bold w3-hover-text-yellow">Sign up here</a>.
                </div><br>            
            </div>
        </div>
    </div>
    
           
</body>

</html>