<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include "meta-data.html" %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top hover-icon">
        <img src="../../static/images/Capture.PNG" width="auto" height="90px" alt="">
        <div class="collapse navbar-collapse d-flex justify-content-end " id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if user is not none %}
                <li class="nav-item font-weight-bold">
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle w3-hover-text-blue pb-0" type="button" id="dropdownMenu" data-toggle="dropdown">
                            <p class="nav-link text-dark m-0 p-0 w3-hover-text-blue"><i class="fas fa-user-graduate"></i> {{user}} </p>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                        <button class="dropdown-item" type="button"><a href="{{ url_for('logout') }}" class="nav-link w3-hover-text-blue">
                            Log Out <i class="fas fa-sign-out-alt"></i>
                        </a></button>
                        </div>
                    </div>
                </li>
                {% endif %}
                {% if user is none %}
                    <li class="nav-item font-weight-bold">
                        <a class="nav-link w3-hover-text-blue pb-0" href="{{ url_for('login') }}"> 
                            <i class="fas fa-user-graduate"></i> Log In
                        </a>
                    </li>
                {% endif %}
              
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link w3-hover-text-blue pb-0" href="{{url_for('learn')}}"> <i class="fab fa-leanpub"></i>
                            Learn
                        </a>
                        <button class="btn btn-light dropdown-toggle w3-hover-text-blue pt-0 ml-4" type="button" id="dropdownMenu2" data-toggle="dropdown">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button"><a href="{{url_for('vegetablesAndFruits')}}" class="nav-link w3-hover-text-blue">
                                <i class="fas fa-carrot"></i>Vegetables and Fruits 
                            </a></button>
                            <button class="dropdown-item" type="button"><a href="{{url_for('animals')}}" class="nav-link w3-hover-text-blue">
                                <i class="fas fa-hippo"></i> Animals 
                            </a></button>
                            <button class="dropdown-item" type="button"><a href="{{url_for('food')}}" class="nav-link w3-hover-text-blue">
                                <i class="fas fa-hamburger"></i> Food
                            </a></button>
                            <button class="dropdown-item" type="button"><a href="{{url_for('actions')}}" class="nav-link w3-hover-text-blue">
                                <i class="fas fa-running"></i> Action
                            </a></button>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link w3-hover-text-blue pb-0" href="{{url_for('video')}}"> <i class="fas fa-video"></i>
                        Video
                    </a>
                </li>

                <li class="nav-item">
                    <div class="cart-hover">
                        <a href="{{url_for('review')}}">
                          <img src="../static/images/reviewbook.jpg" class="w3-hover-text-blue" width="35px" height="29px">
                            <span class="ctn crl-bg">{{ numberOfWords }}</span>
                        </a>                      
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</body>

</html>